*.dll
*.pdb
obj/**
bin/**
runtimes/**
/.vs/slnx.sqlite
/.vs/Rocket-Bot/v15/.suo
/.vs/Rocket-Bot/v15
/.vs/BasicBot/v15/Server/sqlite3/storage.ide-wal
/.vs/BasicBot/v15/Server/sqlite3/storage.ide-shm
/.vs/BasicBot/v15/Server/sqlite3/storage.ide
/.vs/BasicBot/v15/Server/sqlite3/db.lock
